<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.sparkapp"
    android:largeHeap="true"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.application.sparkapp.SparkAppMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.application.sparkapp.SignUpPageOneMainActivity"
            android:label="@string/title_activity_sign_up_page_one_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.AddressMainActivity"
            android:label="@string/title_activity_address_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.PinValidateMainActivity"
            android:label="@string/title_activity_pin_validate_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.TermOfUseMainActivity"
            android:label="@string/title_activity_term_of_use_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.MainPhotoSelectActivity"
            android:label="@string/title_activity_main_photo_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ImageListActivity"
            android:label="@string/title_activity_image_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ImageGridViewActivity"
            android:label="@string/title_activity_image_grid_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ImageGuidCropActivity"
            android:label="@string/title_activity_image_guid_crop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ImageCropActivity"
            android:label="@string/title_activity_image_crop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="ormdroid.database.name"
            android:value="spark" />

        <activity
            android:name="com.application.sparkapp.GuideTotalPrintActivity"
            android:label="@string/title_activity_guide_total_print"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ImagePageSummaryActivity"
            android:label="@string/title_activity_image_page_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ShippingPageActivity"
            android:label="@string/title_activity_shipping_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ShippingAddressActivity"
            android:label="@string/title_activity_shipping_address"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.EmailLoginActivity"
            android:label="@string/title_activity_email_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.TutorialPageOneActivity"
            android:label="@string/title_activity_tutorial_page_one"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.TutorialPageTwoActivity"
            android:label="@string/title_activity_tutorial_page_teo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.SettingPageActivity"
            android:label="@string/title_activity_setting_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.FaqActivity"
            android:label="@string/title_activity_faq"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.ActivityNotificationActivity"
            android:label="@string/title_activity_activity_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.application.sparkapp.PerkPageActivity"
            android:label="@string/title_activity_perk_page"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.dropbox.sync.android.DbxAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-6lxmgb1olxyc2jz" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
    </application>

</manifest>